@model List<CategoryModel>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/EditExistingCategoryView/GetDetailsOfSelectedCategory.js"></script>

<div class="text-primary p-3">

<h1 class="display-4 text-center">Edit Category Name:</h1>
<partial name="_Notifications" />

    <form method="post" action="/Category/AddNewCategoryName">
   <div class="mb-3 row p-3">
     <label class="p-0" style="font-size:x-large">Choose a category to Edit:</label>
     <div class="row mb-5 p-3">
       <select class="form-select" name="editCategory" id="selectCategory">
          <option value="" disabled selected>Choose a category</option> @*This will serve as a placeholder in the dropdown list*@
           
           @foreach(var item in Model)
            {
                if (item.CategoryName != "")
                {
                   <option>@item.CategoryName</option>
                }
            }
       </select>
     </div>
         <div class="row">
            <label class="p-0" style="font-size:x-large">Edit Selected Category Name:</label>
            <input type="text" class="border p-3 form-control" id="input" name="UpdatdCategoryName" disabled>
         </div>
   </div>
    
    <button type="submit" class="btn btn-primary btn-lg">Save</button>
    <button class="btn btn-primary btn-lg" asp-controller="Category" asp-action="CategoryOptions">Back</button>

</form>

</div>
  
