@model List<ScheduleModel>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/EditExistingScheduleView/CheckDataAndSave.js"></script>
<script src="~/Scripts/EditExistingScheduleView/GetDataOfSelectedSchedule.js"></script>
<script src="~/Scripts/EditExistingScheduleView/GetDetailsOfSelectedSchedule.js"></script>

<div id="viewContainer">

<div class="text-primary p-3">

    <h1 class="display-4 text-center">Edit Schedule Data:</h1>
    <partial name="_Notifications" />
        
        <div class="mb-3 row p-3">
            <label class="p-0" style="font-size:x-large">Choose a schedule to Edit:</label>
            <div class="row mb-0 p-3">
                <select class="form-select p-3" name="editSchedule" id="selectSchedule"> 
                    <option value="" disabled selected>Choose a schedule</option> @*This will serve as a placeholder in the dropdown list*@

                    @foreach (var item in Model)
                    {
                        if (item.ScheduleName != "")
                        {
                            <option>@item.ScheduleName</option>
                        }
                    }
                   
                </select>
            </div>
        </div>
         <div class="row">
           <label class="p-0" style="font-size:x-large" id="lbname">Edit Selected Schedule:</label>
            <input type="text" class="border p-3 form-control" name="name" id="scheduleName" disabled="disabled">
            </div>
        <div class="mb-0 row p-6">
            <label class="p-0" style="font-size:x-large" id="lbmon">Mon Hrs</label>
            <input class="border p-3 form-control" name="mon" id="monday" disabled="disabled">
            <span class="text-danger"></span>
        </div>
        <div class="mb-0 row p-6">
            <label class="p-0" style="font-size:x-large" id="lbtue">Tue Hrs</label>
            <input class="border p-3 form-control" name="tue" id="tuesday" disabled="disabled">
            <span class="text-danger"></span>
        </div>
        <div class="mb-0 row p-6">
            <label class="p-0" style="font-size:x-large" id="lbwed">Wed Hrs</label>
            <input type="text" class="border p-3 form-control" name="wed" id="wednesday" disabled="disabled">
            <span class="text-danger"></span>
        </div>
        <div class="mb-0 row p-6">
            <label class="p-0" style="font-size:x-large" id="lbthur">Thur Hrs</label>
            <input type="text" class="border p-3 form-control" name="thur" id="thursday" disabled="disabled">
            <span class="text-danger"></span>
        </div>
        <div class="mb-0 row p-6">
            <label class="p-0" style="font-size:x-large" id="lbfri">Fri Hrs</label>
            <input type="text" class="border p-3 form-control" name="fri" id="friday" disabled="disabled">
            <span class="text-danger"></span>
        </div>
        <div class="mb-0 row p-6">
            <label class="p-0" style="font-size:x-large" id="lbsat">Sat Hrs</label>
            <input type="text" class="border p-3 form-control" name="sat" id="saturday" disabled="disabled">
            <span class="text-danger"></span>
        </div>
        <div class="mb-0 row p-6">
            <label class="p-0" style="font-size:x-large" id="lbsun">Sun Hrs</label>
            <input type="text" class="border p-3 form-control" name="sun" id="sunday" disabled="disabled">
            <span class="text-danger"></span>
        </div>
        <div class="mb-0 row p-6">
            <label class="p-0" style="font-size:x-large" id="lbtotalhrs">Total Weekly Hours</label>
            <input type="text" class="border p-3 form-control" name="total" id="totalHours" disabled="disabled">
            <span class="text-danger"></span>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-1 p-3">
                    <button class="btn btn-primary btn-lg" id="save" disabled="disabled">Save</button>
                </div>
                
                <div class="col-md-1 p-3">
                  <form method="post" action="/Schedule/ScheduleOptions">
                   <button type="submit" class="btn btn-lg btn-primary" id="back">Back</button>
                  </form>
                </div>
            </div>
        </div>
</div>
</div>
