@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Schedule options</h1>

    <form method="post" action="/Home">
        <div class="d-grid gap-4">
            <button class="btn btn-lg btn-primary" type="submit" asp-controller="Schedule" asp-action="CreateNewSchedule">Create a New Schedule</button>
            <button class="btn btn-lg btn-primary" type="submit" asp-controller="Schedule" asp-action="EditExistingSchedule">Edit Existing Schedule</button>
        </div>
    </form>
</div>


