@model ListsModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/EditExistingEmployeeView/GetDetailsOfSelectedEmployee.js"></script>
<script src="~/Scripts/EditExistingEmployeeView/CheckDataAndSave.js"></script>


<div id="viewContainer">

    <div class="text-primary p-3">

        <h1 class="display-4 text-center">Edit Employee Data:</h1>
        <partial name="_Notifications" />

        <div class="mb-0 row p-3">
            <label class="p-0" style="font-size:x-large">Choose An Employee To Edit:</label>
            
                <select class="col-sm-5 p-3" style="font-size:large" name="category" id="selectEmployee">
                    <option value="" disabled selected>Choose a Employee</option> @*This will serve as a placeholder in the dropdown list*@

                @if (Model.EmployeeList != null)
                {
                    @foreach (var item in @Model.EmployeeList)
                    {
                        if (item.EmployeeName != "")
                        {
                            <option>@item.EmployeeName</option>
                        }
                    }
                }

                </select>
            </div>
        </div>

        <div class="mb-0 row p-3">
            <label class="p-0" style="font-size:x-large">Name:</label>
            <input class="col-sm-5 p-3" style="font-size:large" id="NewEmployeeName" disabled="disabled">
        </div>
        <div class="mb-0 row p-3">
            <label class="p-0" style="font-size:x-large">Surname:</label>
            <input class="col-sm-5 p-3" style="font-size:large" id="NewEmployeeSurname" disabled="disabled">
        </div>
        <div class="mb-0 row p-3">
            <label class="p-0" style="font-size:x-large">Address:</label>
            <input class="col-sm-5 p-3" style="font-size:large" id="NewAddress" disabled="disabled">
        </div>
        <div class="mb-0 row p-3">
            <label class="p-0" style="font-size:x-large">Contact Number:</label>
            <input class="col-sm-5 p-3" style="font-size:large" id="NewContact" disabled="disabled">
        </div>
        <div class="mb-0 row p-3">
            <label class="p-0" style="font-size:x-large">Email Address:</label>
            <input class="col-sm-5 p-3" p-3" style="font-size:large" id="NewEmployeeEmail" disabled="disabled">
        </div>
        <div class="mb-0 row p-3">
            <label class="p-0" style="font-size:x-large">Category:</label>
            <select class="col-sm-5 p-3" style="font-size:large" name="category" id="SelectNewCategory" disabled="disabled">
                <option value="" disabled selected>Choose a Category</option> @*This will serve as a placeholder in the dropdown list*@
            
                @if (Model.CategoryList != null)
            {
                @foreach (var item in @Model!.CategoryList)
                {
                    if (item.CategoryName != "")
                    {
                        <option>@item.CategoryName</option>
                    }
                }
            }

            </select>
        </div>
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1 p-3">
                <button class="btn btn-primary btn-lg" id="Save" disabled="disabled">Save</button>
            </div>

            <div class="col-md-1 p-3">
                <form method="post" action="/Employee/EmployeeOptions">
                    <button type="submit" class="btn btn-lg btn-primary" id="back">Back</button>
                </form>
            </div>
        </div>
    </div>
    
   