@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Client options</h1>

    <form method="post" action="/Home">
        <div class="d-grid gap-4">
            <button class="btn btn-lg btn-primary" type="submit" asp-controller="Client" asp-action="CreateNewClient">Create a New Client</button>
            <button class="btn btn-lg btn-primary" type="submit" asp-controller="Client" asp-action="EditExistingClient">Edit Existing Client</button>
        </div>
    </form>
</div>


